@using Microsoft.AspNetCore.Identity
@using SurveyApp.Web.Models.ViewModel
@inject SignInManager<SurveyApp.Web.Areas.Identity.Data.ApplicationUser> SignInManager
@inject UserManager<SurveyApp.Web.Areas.Identity.Data.ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/dashboard.css" rel="stylesheet" />
<script src="https://use.fontawesome.com/6e42fc46b0.js"></script>
<!DOCTYPE html>
<html lang="en">
<body>

    <div class="container-fluid">
        <div class="row">
            <main class="col-md-12" id="main">
                <section class="spacethis">
                    <h3 class="title">Dashboard Overview</h3>
                    <div class="row mobile-scrollable">

                        <div class="col-md-4">
                            <div class="dash-card">
                                <i class="fa fa-bars"></i>
                                <p>Total Feedback</p>
                                <h1 class="text-success">@ViewBag.totalFeedback</h1>
                                <a class="btn btn-outline-success" href="@Url.Action("FeedbackList")"> More</a>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="dash-card">
                                <i class="fa fa-book" aria-hidden="true"></i>
                                <p>Unique Patient Feedback</p>
                                <h1 class="text-danger">@ViewBag.uniqueFeedback</h1>
                                <button type="button" class="btn btn-outline-danger"> More</button>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="dash-card">
                                <i class="fa fa-history" aria-hidden="true"></i>
                                <p>Today's Feedback</p>
                                <h1 class="text-warning">@ViewBag.todaysFeedback</h1>
                                <button type="button" class="btn btn-outline-warning"> More</button>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="spacethis">
@*                     <h3 class="title">Centre wise Survey </h3>
 *@                    <div class="row mobile-scrollable">

                        @{
                            List<CentreSurveyViewModel> centreSurveys = (List<CentreSurveyViewModel>)ViewBag.CentreSurveys;
                        }

                        @foreach (CentreSurveyViewModel item in centreSurveys)
                        {
                            <div class="col-md-3">
                                <div class="dash-card">
                                    <i class="@item.IconClass" aria-hidden="true"></i>
                                    <p>@item.Name</p>
                                    <h1 class="@item.TextClass">@item.SurveyCount</h1>
                                    @*                                     <button type="button" class="@item.ButtonClass"> More</button>
                                *@
                                </div>
                            </div>
                        }
                    </div>
                </section>
            </main>
        </div>

        @{
            List<FeedbackViewModel> list = (List<FeedbackViewModel>)ViewBag.feedbackList;
        }

        <section class="spacethis">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">Last 5 Feedback </div>
                        <div class="card-body">
                            <table class="table table-hover no-border">
                                <thead>
                                    <tr>
                                        <th scope="col">Feedback Time</th>
                                        <th scope="col">Centre Name</th>
                                        <th scope="col">Survey</th>
                                        <th scope="col">Patient Id</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in list)
                                    {
                                        <tr>
                                            <td scope="col">@item.CreatedAt</td>
                                            <td scope="col">@item.CentreName</td>
                                            <td scope="col">@item.Survey</td>
                                            <td scope="col">@item.PatientId</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

        </section>
    </div>
    @* <section class="spacethis">
    <div class="row">
    <div class="col-md-10">
    <h5 class="title">Last 5 Feedback </h5>
    <div class="md-card">
    <table class="table table-hover no-border">
    <thead>
    <tr>
    <th scope="col">Feedback Time</th>
    <th scope="col">Centre Name</th>
    <th scope="col">Survey</th>
    <th scope="col">Patient Id</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in list)
    {
    <tr>
    <th scope="col">@item.CreatedAt</th>
    <th scope="col">@item.CentreName</th>
    <th scope="col">@item.Survey</th>
    <th scope="col">@item.PatientId</th>
    </tr>
    }
    </tbody>
    </table>
    </div>
    </div>
    <div class="col-md-2">
    <div class="dash-card">
    <i class="fa fa-history" aria-hidden="true"></i>
    <p>Today's Feedback</p>
    <h1 class="text-success">@ViewBag.todaysFeedback</h1>
    </div>
    </div>
    </div>
    </section> *@

    <script>
        // Refresh the page after a delay of 10 seconds
        setTimeout(function () {
            location.reload();
        }, 10000);

        $('.drop').click(function () {
            $(this).toggleClass('open').siblings().removeClass('open');
        })

        $('.drop-menu li').each(function () {
            var delay = $(this).index() * 100 + 'ms';

            $(this).css({
                '-webkit-transition-delay': delay,
                '-moz-transition-delay': delay,
                '-o-transition-delay': delay,
                'transition-delay': delay
            });
        });

        $('.read-reviews-btn').click(function () {
            $('.read-reviews').slideDown();
        });


        $('.close-reviews').click(function () {
            $('.read-reviews').slideUp();
        });

        $('.mobile-menu ').click(function () {
            $('#sidebar').slideToggle();
        });

        $('.search-form .fa-search').click(function () {
            $('.search-form .form-control').slideToggle();
        });
    </script>
</body>
</html>
