@model Tuple<SurveyViewModel, FilledSurveyViewModel>
@{
    Layout = null;
    ViewData["Title"] = "Answer the Survey";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="A multi-step form is a long-form broken down into multiple pieces/steps to make an otherwise long form less intimidating for visitors to complete." name="description">
    <meta content="Sam Norton" name="author">
    <title>Brac Healthcare Customer Feedback</title>
    <!-- FAVICONS -->
    <link href="favicons/apple-icon-57x57.png" rel="apple-touch-icon" sizes="57x57">
    <link href="favicons/apple-icon-60x60.png" rel="apple-touch-icon" sizes="60x60">
    <link href="favicons/apple-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="favicons/apple-icon-76x76.png" rel="apple-touch-icon" sizes="76x76">
    <link href="favicons/apple-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
    <link href="favicons/apple-icon-120x120.png" rel="apple-touch-icon" sizes="120x120">
    <link href="favicons/apple-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">
    <link href="favicons/apple-icon-152x152.png" rel="apple-touch-icon" sizes="152x152">
    <link href="favicons/apple-icon-180x180.png" rel="apple-touch-icon" sizes="180x180">
    <link href="favicons/android-icon-192x192.png" rel="icon" sizes="192x192" type="image/png">
    <link href="favicons/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
    <link href="favicons/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png">
    <link href="favicons/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
    <link href="/manifest.json" rel="manifest">
    <meta content="#ffffff" name="msapplication-TileColor">
    <meta content="favicons/ms-icon-144x144.png" name="msapplication-TileImage">
    <meta content="#ffffff" name="theme-color">
    <!-- CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/survey.css" rel="stylesheet" />
    <!-- FONT -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet">
</head>
<body>
    <!-- CONTAINER -->
    <input type="hidden" name="SurveyId" id="SurveyId" value="@Model.Item1.Id" />
    <div class="container d-flex align-items-center min-vh-100">
        <div class="row g-0 justify-content-center">
            <!-- TITLE -->
            <div class="col-lg-4 offset-lg-1 mx-0 px-0">
                <div id="title-container">
                    <img class="covid-image" src="~/img/hiclipart.com.png">
                    @*  <h2>Brac Health Care</h2>
                    <h3>Survey Form</h3>
                    <p></p> *@
                </div>
            </div>
            <!-- FORMS -->
            <div class="col-lg-8 mx-0 px-0">
                <div class="progress">
                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 0%"></div>
                </div>

                <div id="qbox-container">
                    <form class="needs-validation" id="form-wrapper" method="post" name="form-wrapper" novalidate="">
                        <div id="steps-container">

                            @for (int index = 0; index < Model.Item1.Questions.Count; index++)
                            {
                                var slno = index + 1;
                                <div class="step">
                                    <h5 class="questionId" data-questionid="@Model.Item1.Questions[index].Id">@Model.Item1.Questions[index].Title</h5>
                                    @for (int j = 0; j < Model.Item1.Questions[index].Options.Count; j++)
                                    {
                                        <div class="form-check ps-0 q-box">
                                            <div class="q-box__question">
                                                <input class="form-check-input question__input" data-answerid="@Model.Item1.Questions[index].Options[j].Id" id="q_@slno@Model.Item1.Questions[index].Options[j].Title" name="q_@slno" type="radio" value="@Model.Item1.Questions[index].Options[j].Title">
                                                <label class="form-check-label question__label" for="q_@slno@Model.Item1.Questions[index].Options[j].Title"> @Model.Item1.Questions[index].Options[j].Title</label>
                                            </div>
                                        </div>
                                    }

                                </div>
                            }

                            <div class="step">
                                <div class="mt-1">
                                    <div class="closing-text">
                                        <h4>That's about it! Stay healthy!</h4>
                                        <p>We will assess your information and will let you know soon if you need to get tested for COVID-19.</p>
                                        <p>Click on the submit button to continue.</p>
                                    </div>
                                </div>
                            </div>
                            <div id="success">
                                <div class="mt-5">
                                    <h4>Success! We'll get back to you ASAP!</h4>
                                    <p>Meanwhile, clean your hands often, use soap and water, or an alcohol-based hand rub, maintain a safe distance from anyone who is coughing or sneezing and always wear a mask when physical distancing is not possible.</p>
                                    <a class="back-link" href="">Go back from the beginning ➜</a>
                                </div>
                            </div>
                        </div>
                        <div id="q-box__buttons">
                            <button id="prev-btn" type="button">Previous</button>
                            <button id="next-btn" type="button">Next</button>
                            <button id="submit-btn" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div><!-- PRELOADER -->
    <div id="preloader-wrapper">
        <div id="preloader"></div>
        <div class="preloader-section section-left"></div>
        <div class="preloader-section section-right"></div>
    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>

    <script src="~/js/survey.js"></script>
    <!-- Static App Form Collection Script -->
    <script src="https://static.app/js/static-forms.js" type="text/javascript"></script>
    <!-- Static App Form Collection Script -->
    <script src="https://static.app/js/static-forms.js" type="text/javascript"></script>
    <!-- Static App Form Collection Script -->
    <script src="" type="text/javascript"></script>
    <!-- Static App Form Collection Script -->
    <script src="" type="text/javascript"></script>
    <script defer src="https://static.cloudflareinsights.com/beacon.min.js/v84a3a4012de94ce1a686ba8c167c359c1696973893317" integrity="sha512-euoFGowhlaLqXsPWQ48qSkBSCFs3DPRyiwVu3FjR96cMPx+Fr+gpWRhIafcHwqwCqWS42RZhIudOvEI+Ckf6MA==" data-cf-beacon='{"rayId":"829f039648264ea0","b":1,"version":"2023.10.0","token":"1bff91cd11f54ec58f75741ac691976b"}' crossorigin="anonymous"></script>
</body>
</html>