@model Tuple<SurveyViewModel, FilledSurveyViewModel>
@{
    Layout = null;
    ViewData["Title"] = "Answer the Survey";
}

<link href="~/css/survey.css" rel="stylesheet" />
<script src="~/js/survey.js"></script>

<a href="https://github.com/alexandracaulea/freecodecamp-projects/tree/master/Responsive-Web-Design-Projects/Build%20a%20Survey%20Form" target="_blank" rel="noopener noreferrer" class="github-corner" aria-label="View source on GitHub">
    <svg width="86" height="82" viewBox="0 0 86 82" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <path d="M85.346.362h-85l85 81.175V.362z" />
        <path d="M67.282 37.7c-1.209 1.268-2.414 2.188-3.617 2.76-1.202.573-2.362.788-3.478.647-1.117-.141-2.106-.416-2.969-.824-.862-.408-1.783-.984-2.764-1.727.114 1.127-.385 2.275-1.498 3.442l-4.292 4.503-6.834-6.515 3.1-3.252c-.62-.4-1.151-.81-1.594-1.232-.442-.422-.78-.823-1.011-1.203a5.282 5.282 0 01-.526-1.122 3.431 3.431 0 01-.185-.988c-.004-.29.008-.55.037-.777.029-.227.075-.406.137-.537l.094-.197a8.07 8.07 0 00.481-1.834c.072-.568.074-.98.006-1.236l-.103-.385c-.075-.643-.056-1.024.055-1.14.111-.117.298-.083.559.102l.295.282c.361.408.611.9.75 1.478.137.577.16 1.045.069 1.403l-.04.535c-.61 2.411.352 4.06 2.885 4.947.861-.707 1.745-1.043 2.65-1.008-.79-.944-1.41-1.836-1.858-2.678-.449-.842-.762-1.809-.94-2.902-.178-1.093-.019-2.261.48-3.506.497-1.244 1.35-2.5 2.559-3.767 1.367-1.435 3.019-2.216 4.955-2.344.623-1.507 1.849-2.694 3.677-3.562.066.127.205.244.417.35.212.107.526.597.943 1.472.417.875.764 1.955 1.042 3.238a19.751 19.751 0 013.919 2.78 20.44 20.44 0 012.965 3.782c1.262.184 2.324.465 3.186.84.862.376 1.407.674 1.637.892l.296.378c-.746 1.9-1.873 3.18-3.382 3.844-.035 1.94-.736 3.627-2.103 5.061z" fill="#f6f6f6" />
    </svg>
</a>

<div class="container">
    <header class="header">
        <h1 id="title" class="header__title">Product Survey Form</h1>
        <p id="description" class="header__description">
            We would love to hear your thoughts on how we can improve your experience.
        </p>
        <img src="https://res.cloudinary.com/alexandracaulea/image/upload/v1585333913/illustration_x46ict.svg" alt="" aria-hidden="true" class="illustration" />
    </header>

    <main class="main">
        <form action="#" method="GET" id="survey-form" class="survey" novalidate>
            <div class="progressbar" tabindex="0" role="progressbar" aria-valuemin="1" aria-valuemax="@Model.Item1.Questions.Count" aria-valuenow="1" aria-valuetext="Question 1 of 5: How long have you been using our product?"></div>

            @for (int index = 0; index < Model.Item1.Questions.Count; index++)
            {
                var slno = index + 1;
                <section class="survey__panel survey__panel--current" aria-hidden="false" data-index="1" data-panel="firstPanel" data-requirement="option">
                    <h2 class="survey__panel__question">
                        <span class="visuallyhidden">Question @slno of @Model.Item1.Questions.Count </span> @Model.Item1.Questions[index].Title
                    </h2>

                    <div class="survey__panel__period">
                        @if (Model.Item1.Questions[index].Options.Count > 0)
                        {
                            for (int j = 0; j < Model.Item1.Questions[index].Options.Count; j++)
                            {
                                <div class="form-group">
                                    <input asp-for="@Model.Item2.FilledSurveyOptions[index].OptionId" name="FilledSurveyOptions[@index].OptionId" id="FilledSurveyOptions_@(index)__OptionId" value="@Model.Item1.Questions[index].Options[j].Id" type="radio" />

                                    @* <input id="question_@index" type="radio" name="question_@index" value="@Model.Item1.Questions[index].Options[j].Title" />
                        *@
                                    <label for="question_@index">@Model.Item1.Questions[index].Options[j].Title</label>
                                </div>
                            }
                        }
                        else
                        {
                            //Add only text field
                            <div class="form-group form-group-textarea">
                                <label for="recommendation">Additional message:</label>
                                <textarea name="recommendText" id="recommendation" spellcheck="false"></textarea>
                            </div>

                        }

                    </div>
                    <p class="error-message"></p>
                </section>
            }

            <div class="form-buttons">
                <button class="button" type="button" name="prev" disabled="disabled" aria-label="Previous" aria-hidden="true">
                    Prev
                </button>
                <button class="button" type="button" name="next" aria-label="Next" aria-hidden="false">Next</button>
                <button class="button" type="submit" id="submit" name="submit" disabled="disabled" aria-hidden="true">
                    Submit
                </button>
            </div>
        </form>
    </main>
</div>

<!-- <script src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js"></script> -->
